beautifulsoup4==4.11.2
dj-database-url==1.2.0
google==3.0.0
importlib==1.0.4
netbox-secrets==1.7.6
netbox-secretstore @ git+https://github.com/Onemind-Services-LLC/netbox-secretstore@196e4bb53ced8b7ef3953c1938b46aeb9194ac39
pycryptodome==3.17
soupsieve==2.4
